html {

  background-image: url("https://wallpaperaccess.com/full/702562.jpg");

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: transparent;
}

a.GreyRowBox-sc-1xo9c6v-0.ServerRow__StatusIndicatorBox-sc-1ibsw91-2.dyLna-D.fRwFrz.DashboardContainer___StyledServerRow-sc-1topkxf-2 {
  background-color: #0C1C27;
}

a.GreyRowBox-sc-1xo9c6v-0.ServerRow__StatusIndicatorBox-sc-1ibsw91-2.dyLna-D.fwbDSe.DashboardContainer___StyledServerRow-sc-1topkxf-2.jbVWLN {
  background-color: #0C1C27;
  background-size: cover;

}

div.SubNavigation-sc-lfuaoi-0.jZPsWO.fade-appear-done.fade-enter-done {
  background-color: #0C1C27;
}

div.grid.grid-cols-6.gap-2.md:gap-4.col-span-4.lg:col-span-1.order-last.lg:order-none {
  background-color: #0C1C27;
}

div.style-module_2Vp6MaXq.bg-gray-600.cursor-pointer {
  background-color: #0C1C27;
}

div.style-module_2Vp6MaXq.bg-gray-600 {
  background-color: #0C1C27;
}

div.style-module_2XbmHEcn.group {
  background-color: #0C1C27;
}

div.w-full.bg-neutral-900.shadow-md.overflow-x-auto {
  background-color: #0C1C27
}

div.icon.mr-4 {
  background-color: #0C1C27;
}

a.style-module_35MPv1CD.style-module_35MPv1CD.active {
  background-color: #0C1C27;
}


.style-module_1WqkLT9X {
  background-color: #0C1C27 !important;
}

.style-module_1WqkLT9X:hover {
  background-color: #101122 !important;
}

.style-module_35MPv1CD.active {
  background-color: #0C1C27 !important;
}

.style-module_35MPv1CD.active:hover {
  background-color: #101122 !important;
}
div.GreyRowBox-sc-1xo9c6v-0.iTERJN.flex-wrap.md:flex-nowrap.mt-2 {
  background-color: #0C1C27
}

div.TitledGreyBox___StyledDiv3-sc-gvsoy-4.fKIIIQ {
  background-color: #0C1C27;
}

input.Input-sc-19rce1w-0.jqTCDz.cursor-pointer {
  background-color: #0C1C27;
}

input.Input-sc-19rce1w-0.jqTCDz {
  background-color: #0C1C27;
}

div.grid.grid-cols-10.py-4.border-b-2.border-gray-800.last:rounded-b.last:border-0.group {
  background-color: #0C1C27;
}

div.TitledGreyBox___StyledDiv2-sc-gvsoy-1.jRrWLs {
  background-color: #0C1C27;
}

div.SubNavigation-sc-lfuaoi-0.jZPsWO {
  background-color: #0C1C27;
}

div.ContentBox___StyledDiv-sc-mjlt6f-2.iGOcRf {
  background-color: #0C1C27;
}

div.Modal___StyledDiv2-sc-9vzni8-3.ekHIsr {
  background-color: #0C1C27
}

input.peer.style-module_3TDo--Tn {
  background-color: #0C1C27;
}

button.style-module_4LBM1DKx.style-module_3kBDV_wo.style-module_Yp7-2Fw-.flex-1 {
  background-color: #0C1C27;
}

div.GreyRowBox-sc-1xo9c6v-0.DatabaseRow___StyledGreyRowBox-sc-1t67zwr-13.iTERJN.gkSIus {
  background-color: #0C1C27;
}

div.EditScheduleModal___StyledDiv2-sc-wh9db9-4.fhEpAC {
  background-color: #0C1C27;
}

div.EditScheduleModal___StyledDiv4-sc-wh9db9-6.jyDDEO {
  background-color: #0C1C27;
}

div.EditScheduleModal___StyledDiv5-sc-wh9db9-7.ueIjC {
  background-color: #0C1C27;
}

a.GreyRowBox-sc-1xo9c6v-0.ScheduleContainer___StyledGreyRowBox-sc-dlqnx9-2.dyLna-D.bppajE {
  background-color: #0C1C27;
}

div.GreyRowBox-sc-1xo9c6v-0.UserRow___StyledGreyRowBox-sc-hg2wjz-0.dyLna-D.dmlaEn {
  background-color: #0C1C27;
}

div.CreateBackupButton___StyledDiv2-sc-da8bqw-3.eDncUf {
  background-color: #0C1C27;
}

textarea.Input__Textarea-sc-19rce1w-1.kKFWRA {
  background-color: #0B2435;
}

div.flex.justify-end.space-x-4.mt-4.w-full.md:mt-0.md:w-48 {
  background-color: #0C1C27;
}

select.Select-sc-17exaqp-0.dupyoa {
  background-color: #0C1C27;
}

div.TitledGreyBox___StyledDiv-sc-gvsoy-0.oLbNP.StartupContainer___StyledTitledGreyBox-sc-163imy2-1.kRunTE {
  background-color: #242538;
}

div.App___StyledDiv-sc-2l91w7-0.fnfeQw {
  background-image: url("https://wallpaperaccess.com/full/702562.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: transparent;
}

a.GreyRowBox-sc-1xo9c6v-0.ServerRow__StatusIndicatorBox-sc-1ibsw91-2.dyLna-D {
  background-color: #0C1C27
}

label.PermissionRow__Container-sc-1h899cn-0.icxFlO:hover {
  background-color: #101122;
}

div.style-module_1DtraXMW.bg-gray-700 {
  background-color: #2a284d;
}

input.Input-sc-19rce1w-0.jqTCDz {
  background-color: #191832;
}

div.TitledGreyBox___StyledDiv-sc-gvsoy-0.oLbNP {
  background-color: #242538;
}

div.grid.grid-cols-10.py-4.border-b-2.border-gray-800.last:rounded-b.last:border-0.group {
  background-color: #242538;
}

.group {
  background-color: #242538;
}

.GreyRowBox-sc-1xo9c6v-0 {
  background-color: #242538;
}